<%= form_for(@buslist) do |f| %>
  <% if @buslist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buslist.errors.count, "error") %> prohibited this buslist from being saved:</h2>

      <ul>
      <% @buslist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starting %><br>
    <%= f.text_field :starting %>
  </div>
  <div class="field">
    <%= f.label :ending %><br>
    <%= f.text_field :ending %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :busNo %><br>
    <%= f.number_field :busNo %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
