= form_for(@buslist) do |f|
  - if @buslist.errors.any?
    #error_explanation
      %h2
        = pluralize(@buslist.errors.count, "error")
        prohibited this buslist from being saved:
      %ul
        - @buslist.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :starting
    %br/
    = f.text_field :starting
  .field
    = f.label :ending
    %br/
    = f.text_field :ending
  .field
    = f.label :time
    %br/
    = f.datetime_select :time
  .field
    = f.label :busNo
    %br/
    = f.number_field :busNo
  .field
    = f.label :price
    %br/
    = f.number_field :price
  .actions
    = f.submit
