%p#notice= notice
%h1 Bus List
#tabs
	%ul#menu.nav.nav-tabs{:role => "tablist"}
		%li.active{:role => "presentation"}= link_to "Aaja", "#table1", "aria-controls" => "table1", "data-toggle" => "tab", "role" => "tab"
		%li{:role => "presentation"}= link_to "Voli", "#table2", "aria-controls" => "table2", "data-toggle" => "tab", "role" => "tab"
		%li{:role => "presentation"}= link_to "Parsi", "#table3", "aria-controls" => "table3", "data-toggle" => "tab", "role" => "tab"
	.tab-content
		#table1.tab-pane.fade.in.active{:role => "tabpanel"}
			%table.table.table-striped.table-hover
				%thead
					%tr
						%th Start Point
						%th End Point
						%th Time
						%th Bus No
						%th Fare(Rs.)
						%th{:colspan => "3"}
				%tbody
					- @buslists.each do |buslist|
						%tr
							%td= buslist.starting
							%td= buslist.ending
							%td= buslist.time
							%td= buslist.busNo
							%td= buslist.price
							%td 
								.btn.btn-default= link_to 'Book it'
		#table2.tab-pane.fade.in{:role => "tabpanel"}
			%table.table.table-striped.table-hover
				%thead
					%tr
						%th Start Point
						%th End Point
						%th Time
						%th Bus No
						%th Fare(Rs.)
						%th{:colspan => "3"}
				%tbody
					- @buslists.each do |buslist|
						%tr
							%td= buslist.starting
							%td= buslist.ending
							%td= buslist.time
							%td= buslist.busNo
							%td= buslist.price
							%td 
								.btn.btn-default= link_to 'Book it'
		#table3.tab-pane{:role => "tabpanel"}
			this is tab three
= link_to 'New Bus', new_buslist_path