<p id="notice"><%= notice %></p>

<p>
  <strong>Starting:</strong>
  <%= @buslist.starting %>
</p>

<p>
  <strong>Ending:</strong>
  <%= @buslist.ending %>
</p>

<p>
  <strong>Time:</strong>
  <%= @buslist.time %>
</p>

<p>
  <strong>Busno:</strong>
  <%= @buslist.busNo %>
</p>

<p>
  <strong>Price:</strong>
  <%= @buslist.price %>
</p>

<%= link_to 'Edit', edit_buslist_path(@buslist) %> |
<%= link_to 'Back', buslists_path %>
